.table {
    border-collapse: collapse;
    width: 100%;
}

.table :global(th), .table :global(td) {
    border: 1px solid #ddd;
    padding: 8px;
    position: relative;
}

.table :global(th) {
    background-color: rgb(var(--card-rgb));
}

.table :global(td:nth-child(even)) {
    background-color: rgb(var(--callout-rgb));
}

.addressColumn {
    width: 50%;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .addressColumn {
        display: none;
    }
}