/* Used 150px and 50% because it looks better */
.addressColumn {
    width: 50%;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .addressColumn {
        display: none;
    }
}