.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    margin-left: 0.5rem;
    border: 1px solid rgb(var(--background-start-rgb));
    padding: 0.5rem;
}

.number.active {
    background-color: rgb(var(--background-start-rgb));
    color: rgb(var(--background-end-rgb));
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}