.header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    padding: 1rem;
    background: rgb(var(--callout-rgb));
    border-bottom: 1px solid rgb(var(--callout-border-rgb));
}

.menu {
    display: flex;
    align-items: center;
}

.link {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: var(--secondary-glow);
}

.link.active {
    font-weight: 700;
}